@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

.header__wrapper {
  color: #fff;
  margin: 0 auto;
  margin-top: 50px;
  width: 1040px;
  height: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  h1 {
    text-align: left;
    font-family: "Titan One", cursive;
    font-size: 55px;
    border-radius: 10px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
    li {
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
    }
    @media (max-width: 820px) {
      width: 80%;
    }
  }
  @media (max-width: 820px) {
    width: 800px;
    margin-top: 10px;
  }
}
