.app__wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 960px auto;
  justify-content: center;
  width: 1440px;
  height: 100vh;
  @media (max-width: 820px) {
    width: 820px;
  }
}
